---
# handlers file for {{role_name}}

# - name: restart $service
#   sudo: yes
#   service: name=$service state=restarted

# - name: reload $service
#   sudo: yes
#   service: name=$service state=reloaded
